* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 61, 61);
}

.container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 100px;
  flex: 1;
}

.container1 {
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 20px;
  background-color: rgb(98, 97, 97);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.description-container {
  height: 450px;
  max-width: 500px;
  min-width: 250px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) -5px 5px, rgba(0, 0, 0, 0.1) -10px 10px,
    rgba(0, 0, 0, 0.05) -15px 15px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.timer-title {
  font-family: "Dekko font";
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(205, 205, 205);
  padding: 10px;
}

.boxes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 10px;
}

.box {
  background-color: rgb(216, 61, 61);
  width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgb(216, 61, 61, 0.4) -5px 5px, rgba(216, 61, 61, 0.2) -10px 10px,
    rgba(216, 61, 61, 0.1) -15px 15px;
}

.box-timer {
  color: rgb(205, 205, 205);
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Dekko font";
}

.box-description {
  font-size: 1.3rem;
}

.img-container img {
  width: 300px;
  height: 300px;
  height: auto;
  border-radius: 5px;
}

.progress-container {
  width: 100%;
  margin: 20px 0;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.progress {
  height: 4px;
  background: rgb(205, 205, 205);
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(205, 205, 205);
  font-size: 2rem;
}

.link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 50px;
}

.btn {
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-image {
  height: 30px;
}

@media (min-width: 1628px) {
  body {
    height: 100vh;
  }
}

@media (max-width: 1628px) {
  .container1 {
    padding-top: 50px;
  }
}

body {
  background: linear-gradient(
    -45deg,
    #ffffff,
    rgb(205, 205, 205),
    #686a6b,
    #5c5c5c
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Glow In */
.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.5s;
}
.delay-2 {
  animation-delay: 0.75s;
}
.delay-3 {
  animation-delay: 1s;
}
.delay-4 {
  animation-delay: 1.5s;
}
.delay-5 {
  animation-delay: 1.7s;
}
.delay-6 {
  animation-delay: 1.9s;
}
.delay-7 {
  animation-delay: 2.1s;
}
